/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* bootstrap使用のため以下追記 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* font-awesome使用のため以下追記 */
@import "font-awesome-sprockets";
@import "font-awesome";

/* 暫定エラーメッセージ用 (参考：views\customers\customers\edit.html.erb) */
.error_explanation {
	border: solid red;
  background-color: red;
  color: white;
  width: 80%;
  margin-bottom: 30px;
}

.error_explanation > h3 {
	margin: 10px 30px;
}

.error_explanation > ul {	
	padding: 30px;
	margin-bottom: 0;	
	background-color: white;
	color: black;
}

.form-group {
	display: flex;
}

.registration_form_list {
	display: flex;
}

	/*header部分*/
header {
	height: 120px;
}

nav {
	margin-top: 40px;
}

.header_list {
	list-style: none;
	display: flex;
}

.header_list_item {
	margin-right: 30px;
}

/* EC_registration_new */
.registration {
	margin-left: 20%;
}

.registration_title > h2 {
	display: inline-block;
	padding: 0 28px;
	margin: 33px 243px 0 48px;
	background-color: #dddddd;
	margin: 50px 35px;
}

.registration_form {
	display: flex;
}

.registration_form_field > ul {
	display: flex;
}

.registration_form_list {
	list-style: none;
}

.registration_name li:first-child {
	margin-left: 150px;
}

.registration_name li:last-child {
	margin-left: 35px;
}

.registration_furigana li:first-child {
	margin-left: 108px;
}

.registration_furigana li:last-child {
	margin-left: 21px;
}

.registration_email {
	margin-left: 147px;
}

.registration_postal_code {
	margin-left: 96px;
}

.registration_address {
	margin-left: 218px;
}

.registration_telephone_number {
	margin-left: 97px;
}

.registration_password {
	margin-left: 104px;
}

.registration_confirmation_password {
	margin-left: 125px;
}

.registration_actions_btn > input {	
	margin: 15px auto auto 300px;
	line-height: 36px;
	width: 280px;
	background-color: limegreen;
	color: white;
	border: none;
	border-radius: 10px;
}

.registration_actions_btn > input:hover {
	background-color: #009900;
}

.registration_to_login > h2 {
	display: inline-block;
	padding: 0 28px;
	margin: 33px 243px 0 48px;
	background-color: #dddddd;
	margin: 70px 35px 30px 30px;
}

.registration_to_login > p {
	font-size: 20px;
  margin-left: 100px;
}

/* ジャンルナビゲーション部分 */
.genre_nav {
	margin: 40px 30px 20px 10px;
}

.genre_nav_title h3 {
	margin-bottom: 0;
	margin-top: 0;
	background-color: lightgray;
	padding: 10px 0;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

.genre_nav_list {
	font-size: 15px;
}

.genre_nav_list ul {
	padding: 0;
}

.genre_nav_list ul a {
	list-style: none;
}

.genre_nav_list li {
	padding: 10px 5px;
	border-bottom: 1px dashed gray;
}

/* EC_トップページ */
.welcome_message {
	padding: 50px 0;
}

.welcome_message p {
	font-size: 20px;
	text-align: center;
}

/*EC_login_body部分*/

.ec_login_body {
	margin-top: 100px;
}

.ec_login_title {
	background-color: #eeeeee;
	display: inline-block;
	margin: 20px;
}

.ec_login_button {
	margin-left: 115px;
}

/* 登録情報編集ページ */
.registration_edit_actions_btn > input {	
	margin: 15px auto auto 35px;
	line-height: 45px;
	width: 280px;
	background-color: #87CEEB;
	color: white;
	border: none;
	border-radius: 10px;
}

.registration_edit_actions_btn > input:hover {
	background-color: #5D99FF;
	text-decoration: none;
}

.registration_edit_btn {
	display: flex;
}

.registration_edit_leave_btn > a {	
	margin: 15px auto auto 177px;
	line-height: 45px;
	width: 280px;
	background-color: #CD5C5C;
	color: white;
	border: none;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
}

.registration_edit_leave_btn > a:hover {
	background-color: #990000;
	text-decoration: none;
}

.registration_edit_btn {
	margin-bottom: 100px;
}

/*EC_mypage*/

.ec_mypage_title {
	background-color: #eeeeee;
	display: inline;
}

.ec_mypage_body {
	margin-top: 100px;
}

.ec_mypage_list {
	list-style: none;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ec_mypage_list_item {
	margin-right: 10px;
	font-size: 17px;
}

/* 退会ページ */
.leave_form {
	margin-top: 30px;
	text-align: center;
}

.leave_form > h2 {
	margin-bottom: 20px;
}

.leave_sentence {
	font-size: 17px;
}

.leave_action_btn {
	margin-top: 30px;
}

.leave_action_btn > a:first-child {	
	background-color: #87CEEB;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

.leave_action_btn > a:last-child {	
	background-color: #CD5C5C;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-left: 20px;
}

.leave_action_btn > a:first-child:hover {
	background-color: #5D99FF;
	text-decoration: none;
}
.leave_action_btn > a:last-child:hover {
	background-color: #990000;
	text-decoration: none;
}

/* ec_shipping_address_index */
.ec_shipping_address_title {
	background-color: #eeeeee;
	display: inline-block;
	margin: 20px;
	margin-top: 20px;
}

.ec_shipping_address_create_button{
	margin-left: 215px;
}

/* ec_about */
.ec_about_title {
	font-size: 60px;
	text-align: center;
}

.ec_about_text {
	font-size: 20px;
	text-align: center;
}

.ec_about_image {
	width: 600px;
	height: 400px;
	background-image: url("ec_about.jpg");
	background-size: cover;
	background-position: center;
	margin: 30px auto;
}

/* ジャンルページ */
.ow_ganre_title{
	background-color: #eeeeee;
	display: inline;
	margin-top: 50px;
}

/* ec_item_show */
.ec_item_show_body {
	margin-top: 100px;
}

.ec_item_show_content {
	margin: 20px 0px;
}

.ec_item_show_price_area {
	margin-bottom: 20px;
}

.ec_item_show_price {
	font-size: 24px;
}

/* カート一覧ページ & 注文履歴一覧 */
.cart_title h2 {
	display: inline-block;
	margin-left: 100px;
	font-size: 30px;
	background-color: lightgrey;
	border-top: solid gray;
	border-bottom: solid gray;
	padding: 2px 3px;
}

.cart_table {
	border-collapse: collapse;
	border: solid 2px gray;
	margin: 30px auto;
}

.cart_table th,
.cart_table td {
	padding: 15px;
	border: dashed 1px gray;
}

.cart_table th {
	text-align: center;
	background-color: rgb(219, 219, 219);
}

.shopping_btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.cart_all_destory_btn > a,
.cart_item_btn > a,
.shopping_continue_btn > a, {
	padding: 0 10px;
	line-height: 45px;
	background-color: #87CEEB;
	color: white;
	border: none;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
}

.cart_all_destory_btn > a:hover,
.cart_item_btn > a:hover,
.shopping_continue_btn > a:hover, {
	background-color: #5D99FF;
	text-decoration: none;
}

.cart_all_destory_btn {
	margin: 20px 0 0 10%;
}

.shopping_enter_btn {
	text-align: center;
	margin-bottom: 50px;
}

.shopping_enter_btn > a {
	line-height: 45px;
	background-color: lightgreen;
	color: white;
	border: none;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	width: 350px;
}

.shopping_enter_btn > a:hover {
	background-color: green;
	text-decoration: none;
}

.cart_total_price {
	display: flex;
	width: 220px;
	font-size: 20px;
	border: solid 2px gray;
	justify-content: space-around;
}

.cart_table input[type="number"] {
	width: 70px;
}

/* EC注文履歴詳細 */
.ec_order_information dl {
	margin: 0;
	padding: 0;
}

.ec_order_information dl {
	border-top: gray solid 2px;
	border-left: gray solid 2px;
	border-right: gray solid 2px;
	border-bottom: gray solid 2px;
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}


.ec_order_information dt {
	background-color: lightgray;
}

.ec_order_information dt,
.ec_order_information dd {
	padding: 15px;
	width: 50%;
	border-right: gray dashed 1px;
	border-bottom: gray dashed 1px;
}

.ec_order_flex {
	display: flex;
	justify-content: space-around;
}

.ec_order_information caption {
	color: black;
	font-size: 30px;
}







// ow側 items/new
.newaction{
padding-top: 240px;
}
.col-lg-5{
padding-top: 130px;
}
.fa-plus-circle{
	padding-left: 970px;
}