/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*bootstrap使用のため以下追記*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

header {
	height: 120px;
}

nav {
	margin-top: 40px;
}

.header_list {
	margin-right: 30px;
}

.registration {
	margin-left: 20%;
}

.registration_title {
	margin: 50px 0px 50px;
}

.registration_form {
	display: flex;
}

.registration_form_field > ul {
	display: flex;
}

.registration_form_list {
	list-style: none;
	margin-left: 40px;
}

.registration_name {
	margin-left: 150px;
}

.registration_form_list {
	margin-left: 30px;
}

