/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*bootstrap使用のため以下追記*/
 @import "bootstrap-sprockets";
 @import "bootstrap";


 /*header部分*/
header {
	height: 120px;
}

nav {
	margin-top: 40px;
}

.header_list {
	list-style: none;
	display: flex;
}

.header_list_item {
	margin-right: 30px;
}

/*EC_login_body部分*/

.ec_login_body {
	margin-top: 100px;
}

.ec_login_title {
	background-color: #eeeeee;
	display: inline-block;
	margin: 20px;
}

.ec_login_button {
	margin-left: 115px;
}